.App {
  text-align: center;
  
}


#header {
  height: 5vh;
}

#top {
  height: 70vh;
}

#bottom {
  height: 30vh;
}


/* COMPONENTS */ 

#Map {
  background-color: lavender;

  z-index: 3;
}

#Sidebar {
  background-color: lavenderblush;

  overflow-y: scroll;

  max-height: 70vh
}

#Timeline {
  background-color: gray;
}

#Information {
  background-color: lightgray;
}

/* CANVAS */

.canvas {
  position: absolute;
  left: 0px;
  top: 0px;
}

#mapTitle {
  z-index: 5;
}

#mapCanvas {
  z-index: 1;
}

#gridCanvas {
  z-index: 2;
}

#drawCanvas {
  z-index: 3;
}

#mapControl {
  top: -50;
  z-index: 5;
}

#mapLeaflet {
  z-index: 1;
}

/* DIAL */

#dial {
  display: flex;
  align-items: center;
  height: 75px;
}

.dialOptions {
  flex-grow: 1;
}

/* TITLES */

h1 {
  margin: 0px;
}

/* LEAFLET */

.leaflet-container {
  width: 100%;
  height: 100%;
}